/* RESPONSIVE CARD */
.responsive-card {
  height: 260px; /* Desktop default */
}

@media (max-width: 991.98px) {
  .responsive-card {
    height: 220px; /* Tablet más compacto */
  }
}

@media (max-width: 767.98px) {
  .responsive-card {
    height: 180px; /* Móvil más pequeño */
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;
  }
}

/* CONTAINER SVG */
.chart-container {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CIRCULAR CHART BASE */
.circular-chart {
  display: block;
  max-width: 80px;
  max-height: 80px;
  margin: auto;
  --circle-color: #0d6efd;
}

.circular-chart .circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circular-chart .circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  stroke: var(--circle-color, #0d6efd);
  animation: progress 1s ease-out forwards;
}

.circular-chart .percentage {
  fill: #333;
  font-size: 0.5em;
  text-anchor: middle;
}

/* ANIMACIÓN */
@keyframes progress {
  0% {
    stroke-dasharray: 0, 100;
  }
}

