.card-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto; /* flexible */
  min-height: 180px;
}

@media (max-width: 767.98px) {
  .card-flex { min-height: 200px; } /* más espacio para móviles */
}

/* CONTAINER SVG */
.chart-container {
  width: 100%;
  max-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CIRCULAR CHART */
.circular-chart {
  display: block;
  width: 60%;
  height: auto;
  max-height: 100%;
  margin: auto;
  --circle-color: #0d6efd;
}

.circular-chart .circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circular-chart .circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  stroke: var(--circle-color, #0d6efd);
  animation: progress 1s ease-out forwards;
}

.circular-chart .percentage {
  fill: #333;
  font-size: 0.5em;
  text-anchor: middle;
}

/* ANIMACION */
@keyframes progress {
  0% { stroke-dasharray: 0, 100; }
}
